{% extends 'base.html' %}

{% block body %}
        <div class="container theme-showcase" role="main">
            <br>
            <div class="page-header">
                <h2 class="box-title col-md-12">Produtos cadastrados</h2>
            </div>

            <br>

            <div class="search-box">
                <form class="form-search" action="{{ url_for('produtos') }}" method="GET">
                    <div class="input-group form-group-search">
                        <input type="text" class="form-control form-control-search" placeholder="Digite aqui o que você deseja pesquisar..." id="search-input" name="search">
                        <span class="input-group-btn">
                            <button class="btn-search type="submit"><svg class="bi bi-search" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                                <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                              </svg></button>
                        </span>
                    </div>
                </form>
            </div>

            <div class="list-product">
                <table class="table table-hover scrollable-table">
                    <thead class="table-dark">
                        <tr>
                            <th class="text-center table-rounded-start">Id</th>
                            <th class="text-center">Produto</th>
                            <th class="text-center">Marca</th>
                            <th class="text-center">Categoria</th>
                            <th class="text-center">Preço Aquisição</th>
                            <th class="text-center">Preço Final</th>
                            <th class="text-center">Margem de Lucro</th>
                            <th class="text-center">Estoque</th>
                            <th class="table-rounded-end"> </th>
                        </tr>
                    </thead>
                    <tbody>

                    {% for produto in produtos %}
                        <tr data-href="#">
                           </td> <td class="text-center"> {{ produto.id_produtos }} </td>
                            <td class="text-center">{{ produto.produto }}</td>
                            <td class="text-center ">{{ produto.marca }}</td>
                            <td class="text-center">{{ produto.categoria.categoria }}</td>
                            <td class="text-center">{{ "{:.2f}".format(produto.preco_aquisicao).replace('.', ',') }}</td>
                            <td class="text-center">{{ "{:.2f}".format(produto.preco).replace('.', ',') }}</td>
                            <td class="text-center">{{ "{:.2f}%".format(produto.margem_lucro) }}</td>
                            <td class="text-center">{{ produto.estoque }}</td>
                            <td class="btn-edit-delete text-right">
                                <a class="btn btn-color1 text-white" data-toggle="modal" data-target="#editProdutoModal{{ produto.id_produtos }}">Editar</a>
                                <a class="btn btn-color2 text-white" data-toggle="modal" data-target="#deleteProdutoModal{{ produto.id_produtos }}">Excluir</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <br>

            <div class="pull-right">
                <button type="button" class="btn btn-color3" data-toggle="modal" data-target="#addProdutoModal">
                    Novo Produto
                </button>
                <button type="button" class="btn btn-color3" data-toggle="modal" data-target="#addCategoriaModal">
                    Nova Categoria
                </button>
            </div>

            <div class="modal fade" id="addCategoriaModal" tabindex="-1" role="dialog" aria-labelledby="addCategoriaModalLabel">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addCategoriaModalLabel">Nova Categoria</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" action="{{ url_for('nova_categoria') }}">
                                <div class="form-group">
                                    <label for="categoria">Nome da Categoria:</label>
                                    <input type="text" class="form-control" id="categoria" name="categoria" required>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-color2 text-white" data-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-color1 text-white">Salvar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="addProdutoModal" tabindex="-1" role="dialog" aria-labelledby="addProdutoModalLabel">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addProdutoModalLabel">Cadastro de Produto</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" action="{{ url_for('novo_produto') }}">
                                <div class="form-group mb-3">
                                    <label for="produto">Nome:</label>
                                    <input name="produto" type="text" class="form-control" required>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="marca">Marca:</label>
                                    <input name="marca" type="text" class="form-control" required>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="categoria_fk" class="control-label" id="categoria_fk">Categoria:</label>
                                    <select name="categoria_fk" class="form-control">
                                        {% for categoria in categorias %}
                                            <option value="{{ categoria.id_categoria }}">{{ categoria.categoria }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="precoAquisicao">Preço de Aquisição (R$):</label>
                                    <input name="preco_aquisicao" type="number" class="form-control" step="0.01" required>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="preco">Preço Final (R$):</label>
                                    <input name="preco" type="number" class="form-control" step="0.01" required>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="estoque">Estoque inicial:</label>
                                    <input name="estoque" type="number" class="form-control" required>
                                </div>
                                <div class="modal-footer mb-3">
                                    <button type="button" class="btn btn-color2 text-white" data-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-color1 text-white">Salvar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            {% for produto in produtos %}

            <div class="modal fade" id="deleteProdutoModal{{ produto.id_produtos }}" tabindex="-1" role="dialog" aria-labelledby="deleteProdutoModalLabel{{ produto.id_produtos }}">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteProdutoModalLabel{{ produto.id_produtos }}">Excluir Produto</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Tem certeza de que deseja excluir o produto "{{ produto.produto }}"?</p>
                        </div>
                        <div class="modal-footer">
                            <form method="post" action="{{ url_for('delete_produto', id=produto.id_produtos) }}">
                                <button type="submit" class="btn btn-color2 text-white">Excluir</button>
                            </form>
                            <button type="button" class="btn btn-color3" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="editProdutoModal{{ produto.id_produtos }}" tabindex="-1" role="dialog" aria-labelledby="editProdutoModalLabel{{ produto.id_produtos }}">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editProdutoModalLabel{{ produto.id_produtos }}">Editar Produto</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="{{ url_for('editar_produto', id=produto.id_produtos) }}">
                                <div class="form-group mb-3">
                                    <label for="produto">Produto:</label>
                                    <input type="text" class="form-control" id="produto" name="produto" value="{{ produto.produto }}">
                                </div>
                                <div class="form-group mb-3">
                                    <label for="preco">Marca:</label>
                                    <input type="text" class="form-control" id="marca" name="marca" value="{{ produto.marca }}">
                                </div>
                                <div class="form-group mb-3">
                                    <label for="preco">Preço Aquisição:</label>
                                    <input type="number" class="form-control" id="preco-aquisicao" name="preco_aquisicao" step="0.01" min="0" value="{{ produto.preco_aquisicao }}">
                                </div>
                                <div class="form-group mb-3">
                                    <label for="preco">Preço Final:</label>
                                    <input type="number" class="form-control" id="preco" name="preco" step="0.01" min="0" value="{{ produto.preco }}">
                                </div>
                                <div class="form-group mb-3">
                                    <label for="estoque">Estoque:</label>
                                    <input type="number" class="form-control" id="estoque" name="estoque" min="0" value="{{ produto.estoque }}">
                                </div>
                                <div class="form-group mb-3">
                                    <label for="categoria">Categoria:</label>
                                    <select class="form-control" id="categoria" name="categoria_fk">
                                        {% for categoria in categorias %}
                                        <option value="{{ categoria.id_categoria }}" {% if produto.categoria_fk == categoria.id_categoria %}selected{% endif %}>{{ categoria.categoria }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-color1 text-white">Salvar</button>
                                <a href="{{ url_for('produtos') }}" class="btn btn-color2 text-white">Cancelar</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
{% endblock %}