{% extends 'base.html' %}

{% block body %}
        <br>
        <div class="container col-md-4 cl-md-offset-3 mt-2 loglog">
            <form method="POST" class="border p-3">
                {{ form_login.csrf_token }}
                <div style="text-align: center;">
                    <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                </div>
                <fieldset>
                    <div class="form-outline mb-4">
                        {{ form_login.usuario.label(class="form-label") }}
                        {{ form_login.usuario(class="form-control") }}
                    </div>
    
                    <div class="form-outline mb-4">
                        {{ form_login.senha.label(class="form-label") }}
                        {{ form_login.senha(class="form-control") }}
                    </div>
                </fieldset>
                

                <div class="row mb-4">
                    <div class="col-sm">
                        <div class="form-check">
                            {{ form_login.lembrar(class="form-check-input", value="") }}
                            {{ form_login.lembrar.label(class="form-check-label") }}
                        </div>
                    </div>
                    <div class="col-sm" style="text-align: right;">
                        {{ form_login.submit_entrar(class="btn btn-Secondary btn-block mb-4") }}
                    </div>

                </div>
            </form>
        </div>
{% endblock %}