<nav class="navbar navbar-expand-lg fixed-top navbar-light">
  <div class="container">
    <a class="navbar-brand" href="#"
      ><img
        id="MDB-logo"
        src="static/image/logo-body7.png"
        alt="vendasSmart"
        draggable="false"
        height="70"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse nav-transition" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto align-items-center">
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link mx-2" href="{{ url_for('vendas') }}"><i class="fa-solid fa-cash-register style="color: #000000;"></i>Vendas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="{{ url_for('usuarios') }}"><i class="fa-solid fa-users" style="color: #000000;"></i>Usuário</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="{{ url_for('produtos') }}"><i class="fa-solid fa-store" style="color: #000000;"></i>Produtos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="{{ url_for('cadastro_usuario') }}"><i class="fa-solid fa-user" style="color: #000000;"></i>Cadastro Usuário</a>
        </li>
        <li class="nav-item ms-3">
            <a class="btn btn-black btn-rounded" href="{{ url_for('logout') }}">Sair</a>
          </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link mx-2" href="{{ url_for('login') }}"><i class="fas fa-heart pe-2"></i>Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>