{% extends 'base.html' %}

{% block body %}

    <div class="container theme-showcase" role="main">
        <br>
        <div class="page-header">
            <h2 class="box-title col-md-12">Realizar Venda</h2>
        </div>

        <br>

        <div class="search-box">
            <form class="form-search" action="{{ url_for('vendas') }}" method="GET">
                <div class="input-group form-group-search">
                    <input type="text" class="form-control form-control-search" placeholder="Digite aqui o que você deseja pesquisar..." id="search-input" name="search">
                    <span class="input-group-btn">
                        <button class="btn-search" type="submit">
                            <svg class="bi bi-search" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                                <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                            </svg>
                        </button>
                    </span>
                </div>
            </form>
        </div>

        <div class="list-product">
            <table class="table table-hover scrollable-table">
                <thead>
                    <tr>
                        <th class="text-center">Id</th>
                        <th class="text-center">Produto</th>
                        <th class="text-center">Marca</th>
                        <th class="text-center">Preço Final</th>
                        <th class="text-center">Estoque</th>
                        <th class="text-center">Ação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for produto in produtos %}
                    <tr>
                        <td class="text-center">{{ produto.id_produtos }}</td>
                        <td class="text-center">{{ produto.produto }}</td>
                        <td class="text-center">{{ produto.marca }}</td>
                        <td class="text-center">{{ "{:.2f}".format(produto.preco).replace('.', ',') }}</td>
                        <td class="text-center">{{ produto.estoque }}</td>
                        <td class="text-center">
                            <button class="btn btn-sm btn-primary btn-add-quantity" data-produto-id="{{ produto.id_produtos }}">+</button>
                            <button class="btn btn-sm btn-danger btn-remove-quantity" data-produto-id="{{ produto.id_produtos }}">-</button>
                            <button class="btn btn-sm btn-success btn-add-venda" data-produto-id="{{ produto.id_produtos }}">Adicionar à venda</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


        <br>
        <table class="table table-hover" overflow="scroll">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome do Produto</th>
                    <th>Preço unitário</th>
                    <th>Quantidade Vendida</th>
                    <th>Valor total</th>
                </tr>
            </thead>
            <tbody>
                {% for venda in vendas %}
                <tr>
                    <td>{{ venda.produto.id_produtos }}</td>
                    <td>{{ venda.produto.produto }}</td>
                    <td>{{ venda.produto.preco }}</td>
                    <td>{{ venda.quantidade }}</td>
                    <td>{{ venda.total }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <br>

        <div class="form-group">
            <form method="post" action="{{ url_for('pagamento') }}" class="d-inline-block">
                <button type="submit" class="btn btn-secondary">Efetivar Venda</button>
            </form>

            <form method="post" action="{{ url_for('vendas') }}" class="d-inline-block">
                <input type="hidden" name="LimparVendas" value="sim">
                <button type="submit" class="btn btn-danger">Limpar Vendas</button>
            </form>
        </div>
    </div>
{% endblock %}